.box {
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 5px;
}
.box:hover {
    cursor: pointer;
    opacity: 0.8;
}

@mixin row() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin col() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#slot {
    @include col();
}

#slot-machine {
    @include row();

}