@mixin col() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
@mixin row() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link, button {
    @include col();
    background-color: black;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

.link:hover, button:hover {
    opacity: 0.8;
}

section {
    width: 100vw;
    height: 100vh;
    @include col();

}